    <div class="container-specifications">
        <div class="column-specifications">
            <div class="spec-item">
                <div class="spec-title">Adapter</div>
                <div class="spec-detail">USB C to A adapter included</div>
            </div>

            <div class="spec-item">
                <div class="spec-title">Compatibility</div>
                <div class="spec-detail">PS5, PS4, Xbox series, Nintendo switch, Mac & mobile devices</div>
            </div>

            <div class="spec-item">
                <div class="spec-title">Frequency Response Range</div>
                <div class="spec-detail">20Hz - 20kHz</div>
            </div>
        </div>

        <div class="column-specifications">
            <div class="spec-item">
                <div class="spec-title">Impedance</div>
                <div class="spec-detail">32 ohms</div>
            </div>

            <div class="spec-item">
                <div class="spec-title">Drivers</div>
                <div class="spec-detail">50mm Dynamic drivers</div>
            </div>

            <div class="spec-item">
                <div class="spec-title">SPL</div>
                <div class="spec-detail">105 dB</div>
            </div>
        </div>
    </div>